a  box-sizing: border-box;
  font-family: 'Gayathri' , serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.okIcon{
width:15px;
height:15px;
}

.logo{
width:180px;
height:100px;
}

.listHeaderLayout{
height:20px;
display:flex;
justify-content:flex-start;
}

@media (min-width: 900px){
.listHeaderLayout{
height:20px;
display:flex;
justify-content:flex-start;
}
}

.listHeaderSection{
color:#024959;
text-align: left;
margin-right:0px;
font-size:15px;
}

.listHeader{
color:#3FA8BF;
text-align: left;
margin-right:0px;
font-size:20;
}


.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {

  .background {
    padding: 0 0 25px;
  }
}

.containerErika {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
  font-size:10px;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  width: 100%;
  z-index: 10;
}


.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: left;
  text-transform: uppercase;
  font-size:5;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 20px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
  border-radius: 50%;
  height:100px;
  width:120px;

}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color:grey;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
  padding-left: 10px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  list-style-type:none;
}




.pricing-features-space {
  border-top: 4px solid #e1f1ff;
  font-size: 12px;
  line-height: 0.1;
  padding: 15px 0;
  list-style-type:none;
  height:6px;
  border-bottom: 4px solid #e1f1ff;

}


.pricing-features-logo {
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  list-style-type:none;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;

}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 3px solid #3FA8BF;
  border-radius: 10px;
  color: #3FA8BF;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  font-size:13px;

}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}
footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #50BFBF;
    text-align: center;
}