body {
  width: 100%;
  height: 100%;
}
.PageBody{
  background-color:   #ecebeb;
  padding: 10%;
  padding-top: 1%;

}

#BodyContent{
  background-color: white;
height: 2%;
}

.header_filter{
color: black;
}

/* Responsive Logo*/
img {
  width: 15%;
  height: auto;
  margin-left: 2%;

}
/*Buttons*/
  .material-icons {
    float: right;
    padding-bottom: none;
    margin-top: 11%;/*nedre placering*/
    margin-right: 2%;
    color:black;
    background-color: white;
    border-radius:10px;
    border: none;
  }

  .material-icons:hover {
    background-color: #ecebeb;
    color: white;
  }


  .playground {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50BFBF;
    padding: 100px 100px 100px 100px;

  }

#containerid{
width: 100%;
}

#searchbar{
  width: 100%;
  height: 50px;
  background-color:#50BFBF;
}

input[type=text] {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #50BFBF;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  margin-left:35%;
  background-repeat: no-repeat;
  padding: 18px 100px 10px 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
 }
 input[type=text]:focus {
  width: auto;
 }

         #background-image{
           background-color: #ecebeb;
           margin: 2%;

         }

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  background-color: #eee;
}

.filter_box{
width: 100%;
height: 40%;
margin-bottom: 10%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_filter .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*CSS for the Sallary slider*/


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.downside{
padding-top: 5%;
margin-top: 5%;
background-color: #024959;
height: 50vw;
}
<!-- Irvins CSS -->

#largebox{
width: 100%;
height: 30px;
background-color: blue;
padding-top: 50px;
padding-left: 10px;
padding-right: 10px;
}

.threeboxes{
color: gray;
text-align: center;
}

#box1 {
height: 25vw;
width: 20vw;
background-color: white;
float: left;
margin-left: 5%;
}

#box2 {
height: 25vw;
width: 20vw;
background-color: white;
float: left;
margin-left: 35px;
}

#box3 {
height: 25vw;
width: 20vw;
background-color: white;
float: left;
margin-left: 35px;
}

<!--TESTAR DROP DOWN DIV-->
.toggle_wrapper
{

}

#wrapper_container{
    margin-top: 0px;
    margin-bottom: 30px;
    background: #3FA8BF;
    width: auto; height: 200px;
}



#wrapper
{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #3FA8BF;
    text-align: center;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 2px 2px 3px #888888;
    text-decoration:none;
}

#wrapper:hover
{
    text-decoration:none;


    border-top: 1px groove white;
    border-left: 1px groove white;
    border-bottom: 1px solid #7B7B78;
    border-right: 1px solid #7B7B78;
    color: #3FA8BF;
    background: white;
    box-shadow: 1px 1px 2px #888888;
}


<!-- Irvins CSS slutar-->

footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: white;
     color: white;
     text-align: center;
}

