body{
background-color:#50BFBF;

}


#table {
 table-layout: fixed;
 width: 80%;
 white-space: nowrap;
 padding:5%;
}
#table tr {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.table3 {
padding: 10px;
border-color:#78D9E9;
color: #27828C;
background-color: white;

}

.table3:nth-child(even) {background-color: #f2f2f2;}
.table3:hover {background-color: #ddd;}

#table th {
color: #27828C;
}

h2 {
  color: #27828C;
  margin-left:5%;
}

footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: white;
     color: #50BFBF;
     text-align: center;
}
