body {
  width: 100%;
  height: 100%;
}
.PageBody{
  background-color:  white;

}

#BodyContent{
  background-color: white;
height: 2%;
}

.header_filter{
color: black;
}

.button {
  background-color: #50BFBF;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons {
  background-color: white;
  color: black;
  border: 2px solid #50BFBF;
  border-radius: 8px;
}

.buttons:hover {
  background-color: #50BFBF;
  color: white;
}


.playground {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#containerid{
width: 100%;
}

    input[type=text] {
     width: 130px;
     box-sizing: border-box;
     border: 2px solid #50BFBF;
     border-radius: 4px;
     font-size: 16px;
     background-color: white;
     background-image: url('searchicon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     padding: 12px 20px 12px 40px;
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;
    }
    input[type=text]:focus {
     width: 100%;
    }

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  background-color: #eee;
}

.filter_box{
width: 100%;
height: 40%;
margin-bottom: 10%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_filter .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*CSS for the Sallary slider*/


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.downside{
padding-top: 5%;
margin-top: 5%;
background-color: #024959;
height: 50vw;
margin: 2%;
}
<!-- Irvins CSS -->

#largebox{
width: 100%;
height: 30px;
background-color: blue;
padding-top: 50px;
padding-left: 10px;
padding-right: 10px;
}

.threeboxes{
color: gray;
text-align: center;
}

#box1 {
height: 30vw;
width: 25vw;
background-color: white;
float: left;
margin-left: 5%;
}

#box2 {
height: 30vw;
width: 25vw;
background-color: white;
float: left;
margin-left: 35px;
}

#box3 {
height: 30vw;
width: 25vw;
background-color: white;
float: left;
margin-left: 35px;
}

<!--TESTAR DROP DOWN DIV-->
.toggle_wrapper
{

}

#wrap
{
    margin-top: 0px;
    margin-bottom: 30px;
    background: white;
    width: auto; height: 200px;
}



#wrap_toggle
{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #3FA8BF;
    text-align: center;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 2px 2px 3px #888888;
    text-decoration:none;
}

#wrap_toggle:hover
{
    text-decoration:none;
    border-top: 1px groove white;
    border-left: 1px groove white;
    border-bottom: 1px solid #7B7B78;
    border-right: 1px solid #7B7B78;
    color: #3FA8BF;
    background: white;
    box-shadow: 1px 1px 2px #888888;
}


<!-- Irvins CSS slutar-->

footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: white;
     color: white;
     text-align: center;
}

