<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>

<h1>About Adoor</h1>
    Erika, Irvin, Olga and Per-Joel started Adoor because they noticed a lack of website for job seekers that compares between companies.
    That's why they created www.adoor.com to solve this problem.
<br>
    Along the way, [SHARE MILESTONES AND WINS].
    We want to be the place where job seeking candidates go to when you want to compare between different employers and what they have to offer. In the future we also want to add value for our users through tips about creating resumes and how to prepare yourself before interviews.
</p>

</body>
</html>