<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
​
<head>
    <meta charset="UTF-8">
    <title> Adoor </title>
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css"  href="style2.css" />
    <link rel="stylesheet" type="text/css"  href="styletable11.css"/>

    ​
    ​
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gayathri">
    <script>jQuery(document).ready(function($)
{
$("#wrapper").click(function () {
                $("#wrapper_container").slideToggle("slow");
                if ($("#wrapper").text() == "Expand Preferences ⏷") {
                    $("#wrapper").html("Hide Preferences ⏶")
                }
                else {
                    $("#wrapper").text("Expand Preferences ⏷")
                }
            });
        });
        function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
    </script>
</head>
<body class="PageBody">
<div id="BodyContent">


    <a href="/">
        <img alt="Adoor logotype" height="150" width="150"
             th:src="@{/Adoore.png}" />
    </a>
    <button class="material-icons" id="icons">person</button>
    <button class="material-icons" id="icons">notifications</button>
    <div class="playground">

        <div>Adoor makes it possible to get to know a company better</div><br>

        <form action="/searchResult" method="post">
            <input type="text" id="myInput" onkeyup="myFunction()" name="search" placeholder="Search.. Companies, Locations etc">
        </form>
    </div>
</div>
<div class="toggle_wrapper">
    <a href="#0" id="wrapper">Expand Preferences ⏷</a>
</div>
<div id="wrapper_container" style="display: none;">
        <form action="/filtered" method="post">


            <div class="perransRow">
                </div>

                <div class="perransColumn" >
                <ul class="list">

                    <h4 class="H4">Programming Languages</h4>
                    <li th:each="option: ${multiCheckboxProgrammingLanguages}">
                        <input type="checkbox" name="filteredCompanies" th:value="${option.value}" />
                        <label th:text="${option.name}">
                            <!-- th:for="${#ids.prev('multiCheckboxSelectedValues')}"-->
                        </label>
                    </li>
                </ul>

            </div>
                <div class="perransColumn" >
                <ul class="list">

                    <h4 class="H4">Facilities</h4>
                    <li th:each="option: ${multiCheckboxFacility}">
                        <input type="checkbox" name="filteredCompanies" th:value="${option.value}" />
                        <label th:text="${option.name}">
                            <!-- th:for="${#ids.prev('multiCheckboxSelectedValues')}"-->
                        </label>
                    </li>
                </ul>

            </div>

                <div class="perransColumn" >
                <ul class="list">
                    <h4 class="H4">General</h4>
                    <li th:each="option: ${multiCheckboxGeneral}">
                        <input type="checkbox" name="filteredCompanies" th:value="${option.value}" />
                        <label th:text="${option.name}">
                            <!-- th:for="${#ids.prev('multiCheckboxSelectedValues')}"-->
                        </label>
                    </li>
                    <input id="filterButton" type="submit" value="Search with Preferences">
                </ul>



            </div>


        </form>

</div>


<div class="downside">
    ​
    ​
    <div class="perransRow">
        <div class="perransColumn">
            <h4 class="H4">Feed</h4>
            <div class="feedgrabbr_widget" id="fgid_82c7029460a86d8bbb6c765e0"></div>
            <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_82c7029460a86d8bbb6c765e0");</script>
            <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
        </div>
        <div class="perransColumn" id="sdg">
            <h4 class="H4"> SDGs Targeted </h4>
            <img  src="/GoodHealth.PNG"  alt="Good Health" height="500px" width="500px">
            <img  src="/Gender.PNG"  alt="Good Health" height="200px" width="200px"><br><br>
            <img  src="/Work.PNG"  alt="Good Health" height="50%" width="50%">
            <img  src="/SustainCity.PNG"  alt="Good Health" height="200px" width="200px">


        </div>
        <div class="perransColumn">
            <h4 class="H4"> About us</h4>
            <p>Erika, Irvin, Olga and Per-Joel <br> started Adoor because they noticed <br> a lack of website for job seekers <br> that compares between companies.<br><br>
                That's why they created www.adoor.com <br> to solve this problem.
                We want to be the <br> place where job seeking candidates go to <br> when you want to compare between different <br> employers and what they have to offer. <br> In the future we also want to add value <br> for our users through tips about</p>


            <a class="H4" href="/google_maps"> CONTACT US </a>
        </div>
        ​
    </div> <!-- Slutet av largebox-div-->
    ​
</div>


<footer>
    Copyright © Adoor 2019
</footer>
</body>

</html>