<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
   <!-- <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" /> -->

</head>
<body id="PageBody">
<div id="BodyContent">
    <div id="ContentLeft">
        <div id="Menu">
            <div th:replace="index :: topleft"/>
           <form action="/searchResult" method="post" th:fragment="smallsearch" id="SmallSearch">
                <input type="text" style="width: 150px;" name="search" placeholder="Search...">
                <input type="submit" value="GO!">
            </form>

            <ul>
                <li th:each="company: ${Companies}" >
                    <a th:href="'/comparator/' +${company.companyId}" th:text="${company.companyName}"></a>
                </li>
            </ul>

            <ul>
                <li th:each="company: ${session.Companies}" th:text="${company.companyName + company.address}">
                </li>
            </ul>
        </div>

    </div>

    <!--
    <div id="ContentRight">

        <div th:if="${!companies.empty}">


                </div>

                </tr>
            </table>


            <div id="navBar">

                <a th:if="${currentPage != 1}" th:href="'/result/' +${currentPage-1}">Previous page</a>


                <span th:each="page : ${#numbers.sequence(1, numberOfPages)}">
      <a th:if="${page != currentPage}"  th:href="'/result/' + ${page}"><span th:text="${page} "></span></a>
      <span id ="currentPage" th:if="${page == currentPage} and ${numberOfPages != 1}"  th:text="${page}"></span>
</span>

                <a th:if="${currentPage != numberOfPages}" th:href="'/result/' + ${currentPage+1}">Next page</a>

            </div>
        </div>

        <p th:if="${companies.empty}">
            Something went wrong, please try again!
        </p>


    </div>
</div>
-->

<div id="BodyFooter">
    Copyright PeopleFirst 2019
</div>
</div>
</body>
</html>
