<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:style="http://java.sun.com/xml/ns/persistence/orm" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/style20.css" />
       <link rel="stylesheet" type="text/css" href="/styletable12.css" />
       <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gayathri">

   </head>
<body class="PageBody">
<div id="BodyContent">


    <img src="/Adoore.png" alt="Adoor logotype" height="150" width="150">
    <button class="material-icons" id="icons">person</button>
    <button class="material-icons" id="icons">notifications</button>
    <div class="playground">


        <form action="/searchResult" method="post" th:fragment="smallsearch">
            <input type="text" name="search" placeholder="Search..">
        </form>
    </div>
</div>

            <form action="/filtered" method="post">
                <ul>
                    <li th:each="company: ${filteredCompaniesList}" th:text="${company.companyName + company.address + company.backendProgramLanguage
                   + company.frontendProgramLanguage}">
                    </li>
                </ul>
            </form>

            <ul>

                <li th:each="company: ${Companies}"  >
                    <span th:if="${Companies == null} "> <p>No search results</p>  </span>
                    <a th:href="'/searchResult/' +${company.companyId}"  th:text="${company.companyName}"></a>
                </li>

                <li th:if = "${Company != null}" >

                    <a th:href="'/searchResult/' +${Company.companyId}"  th:text="${Company.companyName}"></a>
                </li>



            </ul>

            <div class="background">
                <div class="container">
                    <div class="panel pricing-table" >

                        <div class="pricing-plan" th:each="company, iStat: ${session.CompaniesAll}">
                            <ul class="pricing-features">
                                <li class="pricing-features-logo">  <img class="logo" th:src="'/'+ ${company.logo}" alt = "Company logo" ></li>
                                <li class="pricing-features-item"  ><div class="listHeaderLayout"><span class="listHeader" th:if = "${iStat.index==0}">Address</span></div><div  th:text="${company.address}"></div></li>
                                <li class="pricing-features-item"  ><span class="listHeader" th:if = "${iStat.index==0}">City</span><span  th:text="${company.city}"></span></li>
                                <li class="pricing-features-item"  ><span class="listHeader" th:if = "${iStat.index==0}">Edication Budget per year</span><span  th:text="${company.educationBudgetSEK}"></span></li>
                                <li class="pricing-features-item"  th:text="${company.profitMarginal}"></li>
                                <li class="pricing-features-item"  th:text="${company.netSalesChange}"></li>
                                <li class="pricing-features-item"  th:text="${company.propotionOfWomanWithinITDep}"></li>
                                <li class="pricing-features-item"  th:text="${company.propotionOfWomanWithinBoard}"></li>
                                <li class="pricing-features-item"  th:text="${company.propotionOfWomanWithinLeadManagement}"></li>
                                <li class="pricing-features-item"  th:text="${company.staffTurnover}"></li>
                                <li class="pricing-features-item"  th:text="${company.backendProgramLanguage}"></li>
                                <li class="pricing-features-item"  th:text="${company.frontendProgramLanguage}"></li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.bikeRoomAvailable}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.bikeRoomAvailable}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.carParkingAvailable}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.carParkingAvailable}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.meditationRoom}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.meditationRoom}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.permanentWorkplaces}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.permanentWorkplaces}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.benify}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.benify}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.unionConnected}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.unionConnected}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.occupationalIncluded}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.occupationalIncluded}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.groupInsuranceIncluded}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.groupInsuranceIncluded}"> </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.businessCareIncluded}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.businessCareIncluded}"> </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.collectiveAgreement}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.collectiveAgreement}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.occupationalIncluded}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.occupationalIncluded}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.fruitBasketIncluded}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.fruitBasketIncluded}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.breakfastIncluded}" > <img class="okIcon" src="/x_pic.png" th:if ="${!company.breakfastIncluded}" > </li>
                                <li class="pricing-features-item"> <img class="okIcon" src="/ok.jpg" th:if ="${company.projectSteeringAgilt}"  > <img class="okIcon" src="/x_pic.png" th:if ="${!company.projectSteeringAgilt}"> </li>

                            <a href="#/" class="pricing-button">Apply Now</a>
                            </ul>
                        </div>



                    </div>
                </div>
            </div>

    </div>

    <!--
    <div id="ContentRight">

        <div th:if="${!companies.empty}">


                </div>

                </tr>
            </table>


            <div id="navBar">

                <a th:if="${currentPage != 1}" th:href="'/result/' +${currentPage-1}">Previous page</a>


                <span th:each="page : ${#numbers.sequence(1, numberOfPages)}">
      <a th:if="${page != currentPage}"  th:href="'/result/' + ${page}"><span th:text="${page} "></span></a>
      <span id ="currentPage" th:if="${page == currentPage} and ${numberOfPages != 1}"  th:text="${page}"></span>
</span>

                <a th:if="${currentPage != numberOfPages}" th:href="'/result/' + ${currentPage+1}">Next page</a>

            </div>
        </div>

        <p th:if="${companies.empty}">
            Something went wrong, please try again!
        </p>


    </div>
</div>
-->

    <footer>
    Copyright © Adoor 2019
    </footer>
</div>
</div>
</body>
</html>
